span.nav {
    margin: 10px 70px;
    font-size: 12px;
    color: #767E96;
}

body {
    font-family: 'montserrat', sans-serif;
    margin-left: 20px;
    border-left: #E9EAED 2px solid;
    /*background-color: #F3F4F6;*/
}

button.primary {
  background-color: #242E4C;
  margin: 5px 15px;
  width: 160px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: medium;
  border-radius: 5px;
  cursor: pointer;
}

button.secondary {
  background-color: #E9EAED;
  margin: 5px 15px;
  width: 160px;
  color: #242E4C;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: medium;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-left: 15px;
  color: #1E1A50;
  font-size: 28px;
  font-weight: bold;
}

h2 {
  margin-left: 15px;
  color: #1E1A50;
  font-size: 16px;
  font-weight: bold;
}

h3 {
  margin-left: 15px;
  color: #1A2950;
  font-size: 14px;
  font-weight: bold;
}

a {
  margin-left: 15px;
  color: #738BFD;
  font-size: 14px;
  font-weight: medium;
}

p {
  margin-left: 15px;
  color: #1A2950;
  font-size: 12px;
  font-weight: medium;
}

p.input-placeholder {
  margin-left: 15px;
  color: #767E96;
  font-size: 14px;
  font-weight: medium;
}
p.board-summary {
  margin-left: 15px;
  color: #767E96;
  font-size: 12px;
  font-weight: medium;
}

span.board-summary {
  color: #767E96;
  font-size: 12px;
  font-weight: medium;
  margin-left: 10px;
}

p.alert-message {
  margin-left: 15px;
  color: #F55623;
  font-size: 12px;
  font-weight: medium;
}

input::placeholder {
  color: #767E96;
  font-size: 14px;
  font-weight: medium;
}

input {
  margin-left: 15px;
  border: 1px solid #C4C9D6;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

input:focus {
  outline: none;
  border: 2px solid #738BFD;
}

div.colors span {
  display: inline-block;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  margin: 10px;
}

span.card {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 43px;
  background-color: white;
  box-shadow: 5px 10px 30px #dbdbdc;
  margin-right: 90px;
}

span.card:hover {
  box-shadow: 5px 10px 30px rgb(59, 59, 59);
}

p.section-title {
  color: #767E96;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  margin-top: 40px;
  padding: 5px 20px;
  margin-bottom: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: fit-content;
  background-color: #E9EAED;
}