.card {
    container-type: inline-size;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h2, .card p {
    margin: 0;
}

.person-info {
    margin-left: 15px;
}

.section-top {
    display: flex;
    align-items: center;
    padding: 25px;
}

.section-top button {
    justify-self: flex-end;
    margin-left: auto;
}

.section-top img {
    border-radius: 50%;
}

.section-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 30px;
    font-family: Arial, sans-serif;
    color: #333;
}

.section-bottom button {
    margin-inline: 10px;
}

button.black-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button.white-button {
    background-color: #fff;
    color: grey;
    border: solid grey 1px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.section-mobile {
    display: none;
}
@container (500px < width < 600px) {
    .section-top {
        display: none;
    }
    .section-bottom {
        display: none;
    }

    .section-mobile {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 25px;
        gap: 15px;
    }
    .section-image {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .section-image img {
        object-fit: cover;
    }

}

@container (width < 500px){
    .section-mobile {
        display: none;
    }
    .section-top {
        display: flex;
        border-radius: 30px;
    }
    .section-image {
        display: none;
    }
    .section-bottom {
        display: none;
    }
}