body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color: lightseagreen;
}
h1.tituloheader {
    font-style: italic;
}
header {
    background-color: lightgray;
    padding: 20px;
}
nav a {
    margin: 5px;
    text-decoration: none;
    color: darkslategray;
}
div.posts-relacionados {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: lightseagreen;
}
div.posts-relacionados h4 {
    text-align: center;
    color: black;
}
div.posts-relacionados a {
    text-decoration: none;
    color: darkslategray;
}
article {
    margin-top: 30px;
    color: rgb(80, 80, 80);
}
footer {
    color: grey;
    text-align: center;
}